<!DOCTYPE html>
<html>
<head>
  <title>Clark</title>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
  <%= csrf_meta_tags %>
  <meta name="current-user" id="<%= @current_user.try(:id) %>">
</head>
<body>

<div class="chat">
  <div class="chat-title">
    <h1>Clark</h1>
    <h2>EAFIT</h2>
    <figure class="avatar">
      <img src="https://pbs.twimg.com/profile_images/844991394863370240/IGtrYdp-_400x400.jpg" /></figure>
  </div>
  <%= yield %>


</div>


</body>
</html>
